<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/font.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/home.css">
    <title>Sync - Home</title>
</head>
<body>
    <div id="main">
        <div id="header">
            <span id="today-date">Date d'aujourd'hui</span>
            <div id="search-bar">
                <p>Search Bar</p>
            </div>
            <div id="filter-btn">
                <button>Filter</button>
            </div>
            <div id="menu">

            </div>
        </div>
        
        <div id="content">
            <div id="hours-container">
                <div id="hours-slider">
                    
                </div>
            </div>
            <div id="left-arrow">
                <img src="../img/arrow_left.png" alt="left arrow" class="calendar-arrow"></img>
            </div>
            <div id="calendars">
                <div id="user-calendar">
                    <div id="notifications">
                        
                    </div>
                </div>
                <div id="friends-calendar-container">
                    <div id="headers">
                    </div>
                    <div id="friends-calendar-slider">
                    </div>
                </div>
            </div>
            <div id="right-arrow">
                <img src="../img/arrow_right.png" alt="right arrow" class="calendar-arrow"></img>
            </div>
            <div id="right-side-icons">
                <div id="inbox">INBOX</div>
                <div id="add-event">+EVENT</div>
                <div id="change-view">|0></div>
                <div id="add-friend">+FRIEND</div>
            </div>
        </div>
        <div id="footer">
            <p id="copyrights">&copy; Sync 2024 - Gabriel Pereira Levesque</p>
        </div>
    </div>
    <script src="../js/time.js" type="module"></script>
    <script src="../js/renderHome.js" type="module"></script>
    <script src="../js/slider.js" type="module"></script>
    <script src="../js/user.js" type="module"></script>
</body>
</html>