<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sync - Login</title>
</head>
<body>
    <div id="main">
        <h1 id="title">Bonjour </h1>
        <div id="box">
            <div id="pseudo">
                <label for="input-username">Pseudo</label>
                <input type="text" name="username" id="input-username" placeholder="Un identifiant unique">
            </div>
            <div id="mdp">
                <label for="input-password">Mot de passe</label>
                <input type="password" name="password" id="input-password" placeholder="8 à 24 caractères: #SyncMdpEx4254&">
            </div>
        </div>
    </div>
</body>
</html>